.client__list {
    @media screen and (min-width: 480px) {
display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  }
    @media screen and (min-width: 768px) {
display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  }
    @media screen and (min-width: 1200px) {
display: flex;
  justify-content: center;
}
  }
  

.client__item {
  
  // margin-right: 30px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  &:hover,
  &:focus {
    border: 1px solid var(--acent-color--);
    &:last-child {
  margin-right: 0;
}
}
 @media screen and (min-width: 480px) {
width: calc(100% / 2 - 30px);
margin-left: 30px;
margin-bottom: 30px;
&:last-child(n+5){
  margin-bottom: 0;
}
  }


  

  @media screen and (min-width: 768px) {
width: calc(100% / 3 - 30px);
margin-left: 30px;
margin-bottom: 30px;
&:last-child(n+4){
  margin-bottom: 0;
}


  }
     @media screen and (min-width: 1200px) {
       
width: calc(100% / 6 - 30px);
}
}

.client__link {
  width: 100%;
  height: 100%;
  @extend %align-list;
  justify-content: center;
  // background-color: var(--second-title-color--);
  border-color: var(--social-link--);
  color: var(--social-link--);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--second-title-color--);
    color: var(--acent-color--);
    border-color: var(--acent-color--);
  }
    @media screen and (min-width: 480px) {
 width: 210px;
  height: 92px;
  }

  @media screen and (min-width: 768px) {
width: 226px;
  height: 92px;
  }
     @media screen and (min-width: 1200px) {
  width: 170px;
  height: 92px;
}
}
.client__icon {
  fill: currentColor;
  @extend %align-list;
  justify-content: center;
 
}
/*
.client-icon:hover,
.client-icon:focus {
  fill: var(--acent-color--);
}*/
