
img {
  display: block;
  width: 100%;
    height: auto;
}
.section--command
{
  background-color: var(--feature-bg--);
}
.command__list {
  // display: flex;
  // flex-wrap: wrap;
  
   @media screen and (min-width: 768px) {
display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
 
  }
    @media screen and (min-width: 1200px) {
display: flex;
  margin-right: -30px;
margin-bottom: 0;
  }
}
.command__member-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--title-color--);
}
.command__content {
  padding: 30px 32px;

  /* border-left: 1px solid var(--bg-portfolio--);
  border-right: 1px solid var(--bg-portfolio--);
  border-bottom: 1px solid var(--bg-portfolio--);*/
}

.command__speciality-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color--);
  margin-bottom: 16px;
} 
.command__item {
  background: var(--second-title-color--);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  margin-bottom: 30px;

 @media screen and (min-width: 768px) {
width: calc(100% / 2 - 30px);
margin-right: 30px;
margin-bottom: 30px;
  }

 @media screen and (min-width: 1200px) {
width: calc(100% / 4 - 30px);
margin-right: 30px;
  }
}
// .command__list > .command__item {
//   margin-right: 30px;
 


.command__sociallist-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.command__sociallist-link {
  width: 100%;
  height: 100%;
  @extend %align-list;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--second-title-color--);
  color: var(--social-link--);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--acent-color--);
    color: var(--second-title-color--);
  }
}
.command__sociallist-icon {
  fill: currentColor;
  @extend %align-list;
  justify-content: center;
}

/*
.comand-sicial-icon:hover,
.comand-sicial-icon:focus {
  fill: var(--second-title-color--);
}
*/

.command__sociallist {
  display: flex;
  justify-content: center;
}

