// .footer__logo {
//   font-family: Raleway;
//   font-weight: 700;
//   font-size: 26px;
//   color: var(--second-title-color--);
//   text-decoration: none;
//   margin-bottom: 20px;
//   display: block;
// }
// .footer__logo-weblogo {
//   color: var(--acent-color--);
// }
.footer__conteiner-flex {
   @media screen and (min-width: 480px) {
    display: flex;
flex-direction: column;
justify-content: center;
  }
  @media screen and (max-width: 1200px) {
 flex-direction: row;
  align-items: baseline;
  }
}

.footer__address {
  margin-right: 70px;
}
.footer__address-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-title-color--);
  margin-bottom: 9px;
}
.footer__subscription-list {
  display: flex;
  justify-content: center;
}
.footer__contact-item {
  margin-bottom: 9px;
}
.footer__contact-link {
  display: flex;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--second-title-color--);
  }
}
.footer__contact-item:last-child {
  margin-bottom: 0;
}
.footer__tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color--);
  display: flex;
  margin-bottom: 20px;
}
.footer-item {
  margin-bottom: 10px;
}

.after-conteiner {
  margin-bottom: 95px;
}

.footer__subscription-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer__subscription-item:last-child {
  margin-right: 0;
}
.footer__subscription-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: var(--second-title-color--);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--acent-color--);
    /*color: var(--second-title-color--);*/
  }
}
.footer__subscription-icon {
  fill: currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription {
  margin-right: auto;
}
/*
.comand-sicial-icon:hover,
.comand-sicial-icon:focus {
  fill: var(--second-title-color--);
}
*/