.header {
  background-color: var(--second-title-color--);
  border-bottom: 1px solid #ececec;

}

.header__item 
{
  &:not(:last-child)
  {
    margin-right: 50px;
  }
  display: flex;
  align-items: center;
}
.header--conteiner 
{
    width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  background-color: var(--second-title-color--);
  border-bottom: 1px solid #ececec;
  @extend %align-list;
  // justify-content: space-between;
}
.header__navigation 
{ 
  display: none;
   @media screen and (min-width: 768px) 
   {
     display: flex;
   }
  @media screen and (min-width: 1200px) 
  {
     display: flex;
  }
}

.header__contact 
{
  margin-left: auto;
}
.header__contact-list 
{ 
  display: none;
  align-items: center;
  @media screen and (min-width: 768px) 
  {
     display: block;

     
  }
 @media screen and (min-width: 1200px) 
 {
     display: flex;
     flex-direction: row;
  }
}
.header__link 
{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color--);
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus 
  {
    color: var(--acent-color--);
  }
  .header__link.current 
{
  color: var(--acent-color--);
}
}
.header-link.current-acent::after {
content:'';
width: 100%;
height: 4px;
  background-color: var(--acent-color--);
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: -2px;
}
.header__navigation .header__link.current 
{
  color: var(--acent-color--);
}
.header__link.current-acent::after 
{
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--acent-color--);
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: -2px;
}

.header__contact-item 
{
  @media screen and (min-width: 768px) 
  {
    margin-right: 0;
  }
  @media screen and (min-width: 1200px) 
  {
  margin-right: 50px;
  &:last-child 
  {
    margin-right: 0;
  }
}
}
.header__contact-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-color--);
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--acent-color--);
  }
    @media screen and (min-width: 768px) {
    font-size: 12px;
line-height: 1.16;
  }
  @media screen and (min-width: 1200px) {
font-size: 14px;
  line-height: 1.14;
    padding-top: 32px;
  padding-bottom: 32px;
  }
}
.header__contact-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color--);

  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--acent-color--);
  }
   @media screen and (min-width: 768px) {
    font-size: 12px;
line-height: 1.16;
  }
  @media screen and (min-width: 1200px) {
font-size: 14px;
  line-height: 1.14;
    padding-top: 32px;
  padding-bottom: 32px;
  }
}

.mail-link {
  fill: currentColor;
  margin-right: 10px;
  align-content: flex-end;
   @media screen and (min-width: 768px) {
margin-right: 8px;
width: 14px;
height: 10px;
}
}
.telephon-link {
  fill: currentColor;
  margin-right: 10px;
  align-content: flex-end;
  @media screen and (min-width: 768px) {
margin-right: 8px;
width: 10px;
height: 14px;
  }

}
.mob-menu 
{
  position: fixed;
  background-color: var(--second-title-color--);
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 5;
  padding-top: 21px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 25px;
}
.open-menu-btn {
  
   @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.header-mob-menu__item {
margin-bottom: 32px;
&:last-child {
  margin-bottom: 0;
}
}
.header-mob-menu__link {
  font-weight: 500;
font-size: 40px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.02em;

color: var(--title-color--);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--acent-color--);
  }
}
  .header-mob-menu__link.current {
    color: var(--acent-color--);
  }

.header-mob-menu__contact-mail {
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;

color: var( --text-color--);
&:hover,
  &:focus {
    color: var(--acent-color--);
  }
}
  .header-mob-menu__contact-tel 
  {font-weight: 500;
font-size: 40px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.02em;
color: var(--acent-color--);
}
.header-mob-menu__contact-item {
margin-bottom: 32px;
&:last-child {
  margin-bottom: 0;
}
}
.header-mob-menu__sociallist {
  display: flex;
  align-items: baseline;
}
.header-mob-menu__sociallist-item
{
    &:not(:last-child) {
      &::after{
        content: '';
        display: inline-block;
width: 1px;
height: 22px;
background-color:  rgba(33, 33, 33, 0.2);
margin-left: 10px;
margin-right: 10px;
      }
    }
}

.header-mob-menu__sociallist-link {
  font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: var(--acent-color--);
}
.header-mob-menu__socialink {
  margin-top: 64px;
}

.mob-menu-bottom {
  margin-top: auto;

}
.container-mob-menu {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  height: 100%;
}
.open-menu-btn {
   background: var(--second-title-color--);
  border-color: none;
  background: #ffffff;
  border: none;
  &:hover,
  &:focus {
  //   border: 1px solid var(--acent-color--);
    fill: var(--acent-color--);
  }
}
.open-menu-icon {
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
  fill: var(--acent-color--);
}
}
.close-menu-btn {
  display: block;
  margin-bottom: 8px;
   background: var(--second-title-color--);
  border-color: none;
  background: #ffffff;
  border: none;
  margin-left: 395px;
    &:hover,
  &:focus {
   
    fill: var(--acent-color--);
  }
}


.close-menu-icon {
 
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
  fill: var(--acent-color--);
}
}