.hero {
  background-color: var(--second-bg-color--);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bgimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  width: 1600px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.hero__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  width: 696px;
  margin: 0 auto;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-color--);
  margin-bottom: 50px;
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.hero__button {
  font-family: roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5px;
  color: #ffffff;
  background: var(--acent-color--);
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
