.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: var(--acent-color--);
  text-decoration: none;
  
   @media screen and (min-width: 768px)
  {font-size: 24px;
line-height: 1.16;

}
 @media screen and (min-width: 1200px)
  {
    display: flex;
    font-size: 26px;
line-height: 1.19;
  
  }
}

.logo--footer {
  color: var(--second-title-color--);
  
}
.logo--header {
  color: var(--title-color--);
   @media screen and (min-width: 768px) {
 
margin-right: 88px;
}
 @media screen and (min-width: 1200px)
  {
   
    margin-right: 95px;
}
}