.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 300ms, visibility 300ms;

  &.is-hidden {
    .modal {
      transform: scale(1.5) rotate(270deg) translate(0);
    }
  }
}

.modal {
  width: 450px;
  height: 609px;
  background-color: var(--second-title-color--);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  transition: transform 800ms;
  
      @media screen and (min-width: 1200px) {
 width: 528px;
  height: 581px;
}
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background: var(--second-title-color--);
  border-color: var(--acent-color--);
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  @extend %align-list;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--acent-color--);
    fill: var(--acent-color--);
  }
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  border: 1px solid var(--acent-color--);
  fill: var(--acent-color--);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.our-work-wrap {
  position: relative;
  overflow: hidden;
}
.our-work-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 0.87;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  color: var(--second-title-color--);
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0 auto;
}
.work-list:hover .our-work-text {
  transform: translateY(0);
}
.modal-tittle {
  font-size: 20px;
  line-height: 0.87;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}
.modal-input {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*outline-color: var(--social-link--);
padding-right: 15px;*/
  background-color: transparent;
  padding-left: 37px;
  outline: 0;
  &:focus {
    border-color: var(--acent-color--);
  }
  &:focus + .modal-name-icon {
    fill: var(--acent-color--);
  }
  &::placeholder {
    font-size: 12px;
    line-height: 0.86;
    color: rgba(117, 117, 117, 0.5);
  }
   @media screen and (min-width: 1200px) {
     width: 448px;
  }
}

.modal-name-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-text {
  font-size: 12px;
  line-height: 0.86;
  color: var(--text-color--);
  display: block;
  margin-bottom: 4px;
}
.modal-condition-text {
  font-size: 14px;
  line-height: 0.58;
  color: var(--text-color--);
  @extend %align-list;
  justify-content: center;
  margin-bottom: 30px;
  span {
    &:hover {
      border-color: var(--acent-color--);
    }
  }
}
.modal-check {
  &:focus + .modal-condition-text span {
    border-color: var(--acent-color--);
  }
}

.icon-check {
  fill: #ffffff;
}
/*
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
  overflow: hidden;
}
.modal-condition-text span {
width: 16px;
height: 15px;
border: 2 px solid;
border-color: #000000;
margin-right: 8.38px;
display: flex;
justify-content: center;
align-items: center;
—Åursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 
.modal-condition-text span:hover,
  .modal-check:focus  + .modal-condition-text span {
    border-color:var(--acent-color--);
    background-color: var(--acent-color--);
  }
 
.modal-check
{
   
}*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.modal-condition-text {
    font-size: 12px;
  span {
    width: 16px;
    height: 15px;
    // font-size: 12px;
    //  line-height: 1.16;
    border: 2px solid #000000;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      border-color: var(--acent-color--);
    }
  }
     @media screen and (min-width: 768px) {
    
    line-height: 1.16;
    

  }
      @media screen and (min-width: 1200px) {
            display: flex;
    font-size: 14px;
    line-height: 1.17;
     margin-right: 8.38px;
  }
}

.modal-check {
  &:checked + .modal-condition-text span {
    background-color: var(--acent-color--);
    border: none;
  }
}

/*
.modal-condition-text::before {
content: '';
width: 16px;
height: 15px;
border: 2 px solid #000000;
margin-right: 8.38px;
display: block;
border-radius: 2px;
}
.modal-check:checked + .modal-condition-text::before 
 {background-image: url(../images/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  }*/

.modal-textarea {
  display: block;
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border 250ms;
  margin-bottom: 20px;
  &:focus {
    border: 1px solid var(--acent-color--);
  }
  &::placeholder {
    font-size: 12px;
    line-height: 0.86;
    color: rgba(117, 117, 117, 0.5);
  }
     @media screen and (min-width: 1200px) {
     width: 448px;
  }
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-iconname-wrap {
  position: relative;
}
.modal-name-icon {
  position: absolute;
  transform: translateY(-50%);
  left: 15px;
  top: 50%;
}
.modal-contract {
  color: var(--acent-color--);
  
  //  @media screen and (min-width: 768px) {
  //    margin-left: 3px;
  // }
}

.modal-button-submit {
  display: block;
  margin: 0 auto;
}
