// .header-navigation .header-link.current {
//   color: var(--acent-color--);
// }
.portfolio__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 55px;
  .portfolio__bottom-link.current {
    background: var(--acent-color--);
    color: var(--second-title-color--);
  }
   @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  }
  @media screen and (min-width: 1200px) {

    display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  }
}

.project-link {
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio__bottom-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: var(--title-color--);
  background: var(--bg-secont-bottom--);
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--acent-color--);
    color: var(--second-title-color--);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.project__card-link:hover,
.project__card-text,
.project__card-link:focus .project__card-text {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
}
// .project-link:hover,
// .project-card-text,
// .project-link:focus .project-card-text {
//   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//     1px 4px 6px rgba(0, 0, 0, 0.16);
//   transform: translateY(0);
// }
// .project__card:hover .project__card-text,
// .project__card:focus .project__card-text {
//   transform: translateY(0);
// }
.portfolio__bottom-item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0px;
  }
}

.botton-flex .button-list.current {
  background: var(--acent-color--);
  color: var(--second-title-color--);
}
