img {
  display: block;
  width: 100%;
  height: auto;
}
.project__list {
   @media screen and (min-width: 768px) {
display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  }
      @media screen and (min-width: 1200px) {
display: flex;
  justify-content: center;
}
}
.project__card-content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color--);
}

.project__card-content-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--text-color--);
  margin-top: 5px;
}

.project__card {
  width: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     margin-bottom: 30px;
 margin-right: 0;
  @media screen and (min-width: 768px) {
width: calc(100% / 2 - 30px);
margin-right: 30px;
margin-bottom: 30px;
  }
     @media screen and (min-width: 1200px) {
width: calc(100% / 3 - 30px);
margin-right: 30px;
  }
}

// .project > .project__card {
//   flex-basis: calc(100% / 3 - 30);
//   margin-right: 30px;
//   margin-bottom: 30px;
// }

// .project__card:nth-child(3n) {
//   margin-right: 0;
// }
// .project__card:nth-child(n + 7) {
//   margin-bottom: 0;
// }
/*.project-item .card-tumb [src=""] {
  margin-bottom: 20px;
  outline: 1px solid tomato;
}*/
.project__card-content {
  padding: 20px 24px;
  border-left: 1px solid var(--bg-portfolio--);
  border-right: 1px solid var(--bg-portfolio--);
  border-bottom: 1px solid var(--bg-portfolio--);
}

.project__card:hover,
.project__card:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__card-link {
  display: block;
}
.project__card-link:hover,
.project__card-text,
.pproject__card-link:focus .project__card-text {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
}
.project__card-text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  padding: 63px 24px;
  color: var(--second-title-color--);
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card--wrap {
  position: relative;
  overflow: hidden;
}
.project__card:hover .project__card-text,
.project__card:focus .project__card-text {
  transform: translateY(0);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 300ms, visibility 300ms;
}
