:root {
  --title-color--: #212121;
  --second-title-color--: #ffffff;
  --acent-color--: #2196f3;
  --primary-bg-color--: #e5e5e5;
  --text-color--: #757575;
  --second-bg-color--: #2f303a;
  --bg-color--: #f5f4fa;
  --bg-secont-bottom--: #f5f4fa;
  --bg-portfolio--: #e5e5e5;
  --bg-comand--: #f5f4fa;
  --feature-bg--: #f5f4fa;
  --social-link--: #afb1b8;
  --footer-social-link--:background: rgba(255, 255, 255, 0.1);
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}
